


.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 300px repeat(2, 200px);
    grid-template-areas:
    'welcome' 
    'trending'
    'trailers'
    'popular';
    height: 100%;

}
.welcome-container{
    grid-area: welcome;
    color: white;
    
    background: url("../Assets/welcome-new.jpg");
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: cover;
   
  
    box-shadow: inset 0 0 0 2000px rgba(12, 30, 135, 0.342);

    text-align: left;
    padding: 5% 0 0 2.5%;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    

    
}

.welcome-container h1{
    font-size: 2.5em;
    
}

.trending-container{
    grid-area: trending;
}

.traiers-container{
    grid-area: trailers;
}

.popular-container{
    grid-area: popular;
}